<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="icon" href="../../favicon.ico"></link>

    <title>SESCOY</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/jumbotron.css" th:href="@{/css/jumbotron.css}"></link>

      <link rel="stylesheet"
            th:href="@{//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.1/build/styles/default.min.css}">
<!--      <script src="/path/to/highlight.min.js"></script>-->
<!--      <script>hljs.initHighlightingOnLoad();</script>-->
  </head>

  <body>

    <div class='navbar-top'>
      <nav class="head-nav">
        <a href="#"><span class='textlink'>Gmail</span></a>
        <a href="#"><span class='textlink'>Images</span></a>
        <a href="#" title='Sescoy Apps'><img src="https://i.ibb.co/Q9kbVfX/apps.png" alt=""></a>
        <a href="#" title='Sescoy Account: You!'><span class='account-icon'>J</span></a>
      </nav>
    </div>

<!--    <div class='main'>-->
<!--      <div class='logo'>-->
<!--        <img src="https://i.ibb.co/WfFbzLy/Moogle.png" alt="">-->
<!--      </div>-->
<!--      <div class='search-bar'>-->
<!--        <input type="search">-->
<!--        <a href="#"><img src="https://i.ibb.co/cvZCCfk/l5S4LZ2.png" alt="" class='mic'></a>-->
<!--      </div>-->
<!--      <div class='btn-src'>-->
<!--        <button>Secoy Search</button>-->
<!--        <button>I'm feeling Lucky</button>-->
<!--      </div>-->
<!--      <div class='languages'>-->
<!--        Sescoy offered in: <a href="#">Nederlands</a> <a href="#">Français</a> <a href="#">Deutsch</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class='footer'>-->
<!--      <footer>-->
<!--        <nav class='footer-left'>-->
<!--          <a href="#">Advertising</a>-->
<!--          <a href="#">Business</a>-->
<!--          <a href="#">About</a>-->
<!--        </nav>-->
<!--        <nav class='footer-right'>-->
<!--          <a href="#">Privacy</a>-->
<!--          <a href="#">Terms</a>-->
<!--          <a href="#">Settings</a>-->
<!--        </nav>-->
<!--      </footer>-->
<!--    </div>-->

    <div class='main'>
      <div class='logo'>
<!--        <img src="https://i.ibb.co/WfFbzLy/Moogle.png" alt="">-->
        <img src="https://i.ibb.co/w7yV2PB/SESCOY-Logo.png" alt="">
<!--          <h1><a href="#">SESCOY</a></h1>-->
      </div>
      <form th:action="@{/query/add}" method="post">
        <div class='search-bar'>
          <input type="text" class="form-control" placeholder="Text input" name="query">
          <a href="#"><img src="https://i.ibb.co/cvZCCfk/l5S4LZ2.png" alt="" class='mic'></a>
        </div>
          <br/>
        <div style="text-align: center">
<!--          <button type="submit" class="btn btn-primary">Search</button>-->
          <!--                  <button>Secoy Search</button>-->
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
      <div class='languages'>
        SESCOY offered in: <a href="#">Python</a> | <a href="#">Java</a> | <a href="#">Go</a>
      </div>
    </div>

    <div class="displayResults">
    <div class="jumbotron">
        <!--        <h2>Search Result</h2>-->
<!--        <p th:if="${searchResults.empty}">-->
<!--            Search Engine for Semantic Code Oh Yeah-->
<!--        </p>-->
        <div th:each="searchResult : ${searchResults}">
            <!--            <li th:text="${searchResult.docstring}"/>-->
            <pre>
                <div class="sourceCode">
                  <button class="btn btn-default">
                    <a th:href="@{${searchResult.url}}">Source Code</a>
                  </button>
                </div>
<!--                <a th:href="@{${searchResult.path}}">Repo Location</a>-->
<!--                th:text="${searchResult.docstring}"-->
                <code th:text="${searchResult.code}" />
            </pre>
        </div>
        <br/>
    </div>
    </div>




<!--    <div class="container">-->
<!--        <div class="header clearfix">-->
<!--          <h3 class="text-muted">Search Results</h3>-->
<!--        </div>-->
<!--    </div>-->

<!--        <div class="jumbotron">-->
<!--          <h1>CircleCI Demo Java Application</h1>-->
<!--          <p class="lead">This SESCOY.</p>-->
<!--&lt;!&ndash;          <p><a class="btn btn-lg btn-success" href="/add" role="button">Add Quote</a></p>&ndash;&gt;-->
<!--          <form th:action="@{/query/add}" method="post">-->
<!--            <div><label>Search: <input type="text" name="query"/> </label></div>-->
<!--            <div><input type="submit" value="Add Query"/></div>-->
<!--          </form>-->
<!--        </div>-->



        <br/>


<!--        <footer class="footer">-->
<!--          <p>&copy; 2019 CircleCI</p>-->
<!--        </footer>-->



    <!-- Include Bootstrap and JQuery -->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <!-- Include Highlight code block -->
    <script th:src="@{//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.1/build/highlight.min.js}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
